@keyframes menu-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-fill {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes loader-fade {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.plate1 {
  animation: menu-appear 0.5s ease 0.2s both;
}

.plate2 {
  animation: menu-appear 0.5s ease 0.4s both;
}

.plate3 {
  animation: menu-appear 0.5s ease 0.6s both;
}

.plate4 {
  animation: menu-appear 0.5s ease 0.8s both;
}

.plate5 {
  animation: menu-appear 0.5s ease 1s both;
}

.plate6 {
  animation: menu-appear 0.5s ease 1.2s both;
}

.plate7 {
  animation: menu-appear 0.5s ease 1.4s both;
}

.plate8 {
  animation: menu-appear 0.5s ease 1.6s both;
}

.plate9 {
  animation: menu-appear 0.5s ease 1.8s both;
}

.plate10 {
  animation: menu-appear 0.5s ease 2s both;
}

body {
  margin: 0;
  font-family: "roboto";
}

.main-index {
  background-color: #F6F6F6;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: 63px;
  position: relative;
  z-index: 1;
}

.header a {
  position: absolute;
  left: 20px;
}

.header .return-arrow {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1024px) {
  .header {
    height: 96px;
  }
}

.header__logo {
  height: 30px;
  padding: 21px 0 12px 0;
}

@media screen and (min-width: 1024px) {
  .header__logo {
    height: 38px;
    padding: 28px 0 25px 0;
  }
}

.button {
  display: flex;
  width: 218px;
  height: 50px;
  text-decoration: none;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 25px;
  color: #FFF;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

.button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 0.9;
}

.like {
  width: 24px;
  height: 24px;
  margin-right: 26px;
}

.like:hover .heart-full {
  transform: scale(1);
  opacity: 1;
}

.like i {
  font-size: 24px;
  transition: 300ms linear;
  cursor: pointer;
}

.like .heart-full {
  position: relative;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  bottom: 25.6px;
  transform-origin: center;
  transform: scale(0);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
  opacity: 1;
}

.location i {
  padding-right: 17px;
}

.location input {
  font-weight: 700;
  font-size: 16px;
  width: 135px;
  opacity: 1;
  color: #353535;
  border: none;
  background-color: #EAEAEA;
}

.location input::placeholder {
  opacity: 1;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 39.5px 0 57px 0;
}

@media screen and (min-width: 1024px) {
  .infos {
    padding: 30px 0 30px 0;
  }
}

.infos h1 {
  margin: 0;
  padding-bottom: 12px;
}

@media screen and (min-width: 1024px) {
  .infos h1 {
    font-size: 40px;
    padding-bottom: 18px;
  }
}

.infos p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 27px;
}

.functionning {
  padding: 48px 0 68px 20px;
  margin: 0;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .functionning {
    padding: 45px 0 34px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .functionning__block {
    margin: auto;
    width: 100%;
    max-width: 1090px;
  }
}

.functionning h1 {
  margin-top: 0;
}

.functionning-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24.92px;
  padding: 0 20px 0 12.51px;
}

@media screen and (min-width: 1024px) {
  .functionning-list {
    flex-direction: row;
    gap: 36.51px;
    justify-content: center;
  }
}

.functionning-list li {
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 72.38px;
  counter-increment: my-counter 1;
}

@media screen and (min-width: 1024px) {
  .functionning-list li {
    width: 344.5px;
  }
}

.functionning-list li i {
  color: #7E7E7E;
  padding: 0 27px 0 9px;
}

.functionning-list li:hover i {
  color: #9356DC;
}

.functionning-list li:before {
  content: counter(my-counter);
  background-color: #9356DC;
  color: #FFF;
  font-size: 14.18px;
  font-weight: 500;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 12px;
}

.functionning-list li span {
  font-weight: 500;
}

.restaurants {
  padding: 54px 0 0 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .restaurants__block {
    margin: auto;
    width: 100%;
    max-width: 1090px;
  }
}

.restaurants h1 {
  margin-top: 0;
}

.restaurants a {
  text-decoration: none;
  color: #353535;
}

.restaurants__card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0 18px 0 0;
}

@media screen and (min-width: 1024px) {
  .restaurants__card {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
  }
}

.restaurants img {
  object-fit: cover;
  width: 100%;
  height: 174px;
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-bottom: 18px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1024px) {
  .card {
    width: 480px;
  }
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 77px;
  padding-left: 13px;
}

.card-content__body h2 {
  font-size: 18px;
  margin: 0;
}

.card-content__body p {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}

.badge-new {
  color: #008766;
  background-color: #99E2D0;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #EAEAEA;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: loader-fade 500ms ease 3s forwards;
}

.loader__dots {
  width: 16px;
  height: 16px;
  margin-bottom: 30px;
  border-radius: 50%;
  background: #9356DC;
  color: #FF79DA;
  box-shadow: -24px 0, 24px 0;
  animation: loader-spin 2s linear infinite;
}

.loader__text {
  position: relative;
  font-family: "shrikhand";
  font-size: 50px;
  color: #9356DC;
}

.loader__text:after {
  content: "ohmyfood";
  position: absolute;
  left: 0;
  top: 0;
  color: #353535;
  overflow: hidden;
  animation: text-fill 3s ease-in-out infinite;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
  color: #FFF;
  background-color: #353535;
}

@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px 25px;
    height: 70px;
  }
}

.footer__logo {
  margin: 0;
  font-family: "shrikhand";
  width: 100px;
  filter: invert(100%);
}

@media screen and (min-width: 1024px) {
  .footer__logo {
    padding-right: 40px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .footer__list__link2 {
    padding-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__list {
    flex-direction: row;
    gap: 14px;
    padding-right: 60px;
  }
}

.footer a {
  font-family: "roboto";
  font-weight: 500;
  text-decoration: none;
  color: #FFF;
}

.footer i {
  width: 12px;
  padding-right: 10.8px;
}

.banner {
  height: 275px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 385px;
  }
}

.banner__img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .banner__img {
    position: relative;
    height: 956.14px;
    top: -385px;
  }
}

.menu__card {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  border-radius: 40px 40px 0 0;
  position: relative;
  z-index: 2;
  max-width: 1024px;
  margin: -45px auto auto auto;
}

@media screen and (min-width: 1600px) {
  .menu__card {
    max-width: 1200px;
  }
}

.menu__card__title {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: baseline;
  gap: 10px;
}

.menu__card__title h1 {
  font-family: "shrikhand";
  font-size: 28px;
  font-weight: 400;
  padding-left: 17px;
  margin-bottom: 0;
}

.menu__card__title .menu-like {
  margin-top: 10px;
}

@media screen and (min-width: 1600px) {
  .menu__card__title {
    padding-bottom: 40px;
  }
}

.menu__card__dishes {
  margin-left: 13px;
  margin-right: 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 1024px) {
  .menu__card__dishes {
    padding: 0 210px;
  }
}

@media screen and (min-width: 1600px) {
  .menu__card__dishes {
    flex-direction: row;
    justify-content: space-around;
    padding: unset;
    padding-bottom: 30px;
  }
}

.menu__card__dishes__title {
  border-bottom: 3px #99E2D0 solid;
  width: 40px;
  margin-top: 25px;
}

.menu__card__dishes__title h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 7px;
}

.menu__card__dishes__plate {
  display: flex;
  height: 69px;
  border-radius: 15px;
  background-color: #FFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.menu__card__dishes__plate:hover .dish-check {
  width: 59px;
}

@media screen and (min-width: 1600px) {
  .menu__card__dishes__plate {
    width: 345px;
  }
}

.dish-name {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.dish-name h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0 5px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dish-name p {
  font-size: 15.04px;
  font-weight: 300;
  margin: 0 0 12px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dish-price {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  padding-right: 10px;
  margin-bottom: 13.5px;
  transition: 600ms ease-in-out;
}

.dish-check {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: #FFF;
  width: 0%;
  transition: 300ms ease-in-out;
}

.order-button {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

@media screen and (min-width: 1600px) {
  .order-button {
    padding: 60px 0 80px 0;
  }
}

.dishlist {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*# sourceMappingURL=style.css.map */