//--Colors--//
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-dark: #008766;
 

//--Backgrounds-Colors--//
$white: #FFF;
$black: #353535;
$gray: #7E7E7E;
$gray-medium: #EAEAEA;
$gray-light: #F7F7F7;
$gray-sec: #D2D2D2; 

$animation-duration: 0.5s;
$animation-delay: 0.2s;